
<h1>Login</h1>

<form class="login-form" action="/login" method="POST">
   <label> Email
      <input type="email" name="email" id="email">
   </label>
   <label> Password
      <input type="password" name="password" id=" password">
   </label>

   <button class="btn btn-active" type="submit">Login</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}