<h1>Signup</h1>

<form action='/signup' method='POST'>
  <label>
    First Name
    <input type='text' name='firstName' id='firstName' />
  </label>
  <label>
    Last Name
    <input type='text' name='lastName' id='lastName' />
  </label>
  <label>
    Email
    <input type='email' name='email' id='email' />
  </label>
  <label>
    Password
    <input type='password' name='password' id='password' />
  </label>

  <button type='submit'>Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}