
<nav>
<img src="/images/logo_piggy.png" /> 
</nav>

<section class="btn-home">
    <button> <a href='/signup'>Signup</a></button>
    <button> <a href='/login'>Login</a></button>
    <button> <a href='/logout'>Logout</a></button>
    <button> <a href='/dashboard'>Dashboard</a></button>
</section>



