<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{appTitle}}</title>
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
</head>
<body>

 <nav class="nav-bar"> 
 <div class="div-logo">   
  <img class="logo" src="/images/logo_piggy.png" /> 
 </div> 
   <div class="btn-home">
    <button class="btn"> <a href='/signup'>Signup</a></button>
    <button class="btn"> <a href='/login'>Login</a></button>
    <button class="btn"> <a href='/logout'>Logout</a></button>
   </div>
</nav> 


</body>
</html>


