<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link href='https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css' rel='stylesheet' type='text/css' />
    <script src='https://cdn.tailwindcss.com'></script>
   <link rel="stylesheet" href="/stylesheets/style.css" /> 
  </head>

  <body>

    {{{body}}}

   {{!--  <footer class="footer flex-footer footer-center bg-base-300 text-base-content">
    <div>
    <h3>Created by</h3>
     <a href="https://github.com/napoligab"><b>Gabriella Hevesy</b></a>
      <a href="https://github.com/Brenda-Lop"> <b>Brenda Lopes</b></a>
     </div>
  </footer> --}}

    <script src="/js/script.js"></script>
  </body>

</html>