<h1>Edit Entry</h1>

<form action="/edit-entry/{{_id}}" method='POST'>

  <label for='date'>Date:</label>
  <input type='date' name='date' id='date' value="{{this.date}}"/>

  <label for='amount'>Amount:</label>
  <input type='number' name='amount' id='amount' value={{this.amount}} />

  <label for="category">Category:</label>
<select name="category" id="category" required>
  <option value="education">Education</option>
  <option value="health">Health</option>
  <option value="bills">Bills</option>
  <option value="general">General</option>
  <option value="food">Food</option>
  <option value="leisure">Leisure</option>
  <option value="salary">Salary</option>
  <option value="others">Others</option>
</select>

   <label for='type'>Type:</label>
   <select name='type' id='type'required/>
   <option value="expense">Expense</option>
   <option value="income">Income</option>
   </select>

  <label for='location'>Location:</label>
  <input type="text" name='location' id='location' value="{{this.location}}" />



  <button class="btn" type='submit'>Update Entry</button>