<form action='/dashboard' method='POST'>

  <label for=''>Date:</label>
  <input type='date' name='date' id='date' />

  <label for=''>Amount:</label>
  <input type='number' name='amount' id='amount' />

  <label for=''>Category:</label>
  <input type='text' name='category' id='category' />

  <label for=''>Location:</label>
  <input type='text' name='location' id='location' />

  <label for=''>Description:</label>
  <input type='text' name='description' id='description' />

  <button type='submit'>Create movie</button>
</form>