<form action='/new-entry' method='POST'>

  <label for='date'>Date:</label>
  <input type='date' name='date' id='date' />

  <label for='amount'>Amount:</label>
  <input type='number' name='amount' id='amount' step="0.01" />

 <label for="category">Category:</label>
<select name="category" id="category" required>
  <option value="education">Education</option>
  <option value="health">Health</option>
  <option value="bills">Bills</option>
  <option value="general">General</option>
  <option value="food">Food</option>
  <option value="leisure">Leisure</option>
  <option value="salary">Salary</option>
  <option value="others">Others</option>
</select>

   <label for='type'>Type:</label>
   <select name='type' id='type'required/>
   <option value="--">----</option>
   <option value="expense">Expense</option>
   <option value="income">Income</option>
   </select>

  <label for='location'>Location:</label>
  <input type='text' name='location' id='location' />


  <button class='btn' type='submit'>Create entry</button>
</form>