<form action="/dashboard/{{_id}}" method='POST'>

  <label for='name'>Date:</label>
  <input type='date' name='date' id='date' />

  <label for='amount'>Amount:</label>
  <input type='number' name='amount' id='amount' />

  <label for='category'>Category:</label>
  <input type='text' name='category' id='category' />

  <label for='location'>Location:</label>
  <input type='text' name='location' id='location' />

  <label for='description'>Description:</label>
  <input type='text' name='description' id='description' />

  <button type='submit'>Create entry</button>
</form>