<form action='/new-entry' method='POST'>

  <label for='date'>Date:</label>
  <input type='date' name='date' id='date' />

  <label for='amount'>Amount:</label>
  <input type='number' name='amount' id='amount' />

  <label for='category'>Category:</label>
  <input type='text' name='category' id='category' />

  <label for='location'>Location:</label>
  <input type='text' name='location' id='location' />

  <label for='type'>Type:</label>
  <input type='text' name='type' id='type' />

  <button class='btn' type='submit'>Create entry</button>
</form>