<form action="/edit-user/{{_id}}" method='POST'>

  <label for='firstName'>First Name:</label>
  <input type='text' name='firstName' id='firstName' />

  <label for='lastName'>Last Name:</label>
  <input type='text' name='lastName' id='lastName' />

  <label for='email'>Email:</label>
  <input type='email' name='email' id='email' />

  <label for='password'>Password:</label>
  <input type='password' name='password' id='password' />

  <label for='profile-pic'>Profile Picture:</label>
  <input type="file">

  <button class="btn" type='submit'>Update User</button>